body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

nav {
    background-color: gray;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 16px;

}

a:hover {
    color: lightblue;
}
h1 {
    color: #333;
    text-align: center;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

form {
    margin-bottom: 20px;
    text-align: center;
}

label {
    margin-right: 10px;
}

input[type="text"],
input[type="submit"],
select {
    padding: 8px;
    margin: 5px;
}

.inputSubmit_in_table {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 8px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 2px 2px;
    cursor: pointer;
}

.kustuta_href {
    color: #d9534f;
    text-decoration: none;
}

.loobu_href {
    color: darkslateblue;
    text-decoration: none;
}

.loobu_href:hover,
.kustuta_href:hover {
    text-decoration: underline;
}
